<div class="page-product">
    <button (click)="goToBack()">Back</button>
    <div class="detail" *ngIf="product">
        <div class="gallery">
            <swiper [slidesPerView]="1">
                <ng-template swiperSlide *ngFor="let img of product?.images">
                    <img [src]="img" alt="img" />
                </ng-template>
            </swiper>
        </div>
        <div>
            <h2>{{ product.title ? product.title : '' }}</h2>
            <h3>{{ product.price ? (product.price | currency) : '' }}</h3>
            <p>{{ product.description ? product.description : '' }}</p>
        </div>
    </div>
</div>